// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Mynerve&family=Titillium+Web:wght@200;300;400;600;700&display=swap");

body {
  font-family: "Mynerve", cursive;
}

input[type="text"] {
  color: $brown;
  font-size: 25px;
}

.q-field__messages {
  font-size: 18px;
  color: $brown;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.q-page-container {
  margin: auto;
  max-width: 1440px;
  width: 100%;
}

// Buttons
.btn {
  color: var(--color);
  font-weight: 700;
  border: 2px solid var(--border-color);
  background-image: -webkit-linear-gradient(
    45deg,
    var(--back-color) 50%,
    transparent 50%
  );
  background-image: linear-gradient(
    45deg,
    var(--back-color) 50%,
    transparent 50%
  );
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;

  &.is-green {
    --color: #{$blue};
    --border-color: #{$blue};
    --back-color: #{$lightGreen};

    &:hover {
      background-position: 0;
      border-color: $lightGreen;
      color: white;
    }
  }

  &.is-yellow {
    --color: #{$brown};
    --border-color: #{$brown};
    --back-color: #{$yellow};

    &:hover {
      background-position: 0;
      border-color: $yellow;
      color: $blue;
    }
  }

  &.is-back {
    --color: #{$red};
    --border-color: #{$red};
    --back-color: #{$red};

    &:hover {
      background-position: 0;
      border-color: $red;
      color: white;
    }
  }
}
