// Colors

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$green: #469254;
$lightGreen: #74be43;
$blue: #62a4ab;
$yellow: #f0e14a;
$lightYellow: #fcf9c2;
$brown: #392c21;
$moss: #686230;
$red: #f74b55;

// Media Breakpoints

$sm: 360px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
